<!DOCTYPE html>
<html lang="en" ng-app="GPAnalyzeApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GPAnalyze2</title>
<link href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" rel="stylesheet">
<link href="/assets/mdi/1.1.34/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
<link href="/assets/angular-material/0.10.0/angular-material.css" rel="stylesheet">
<link href="/assets/leaflet/0.7.3/leaflet.css" rel="stylesheet">
<link href="main.css" rel="stylesheet">
</head>
<body layout="column">

<div layout="column" flex>
  <div layout="row">
    <div layout="column" layout-align="start start" class="md-padding" ng-controller="MapCtrl">
      <div id="map"></div>
      <md-button aria-label="menu" class="md-fab md-mini md-raised" ng-click="zoomIn()" ng-disabled="zoomInDisabled">
        <md-icon class="mdi mdi-plus"></md-icon>
      </md-button>
      <md-button aria-label="upload" class="md-fab md-mini md-raised" ng-click="zoomOut()" ng-disabled="zoomOutDisabled">
        <md-icon class="mdi mdi-minus"></md-icon>
      </md-button>
    </div>
    
    <div flex></div>
    
    <div layout="column" layout-align="end start" ng-controller="MainMenuCtrl" class="md-padding">
      <md-fab-speed-dial md-direction="down" class="md-fling">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon class="mdi mdi-menu"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="upload" class="md-fab md-mini md-raised" ng-click="showImportDialog($event)">
            <md-icon class="mdi mdi-upload"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
  </div>
  
  <div flex></div>

  <div layout="column" ng-controller="BottomBarCtrl" id="bottom-bar-container" ng-class="{'bottom-bar-visible': visible}">
    <div class="md-padding" layout="row" layout-align="end end" ng-class="{'bottom-bar-visible': visible}">
      <md-button class="md-raised" id="expand-bottombar-button" ng-class="{'bottom-bar-visible': visible}" ng-click="toggle()" aria-label="Expand bottom bar">
        <md-icon ng-hide="visible" class="mdi mdi-chevron-double-up"></md-icon>
        <md-icon ng-show="visible" class="mdi mdi-chevron-double-down"></md-icon>
      </md-button>
    </div>
    <md-toolbar class="md-huge" id="bottom-bar" layout="row">
      <div flex layout="column">
        <div layout="row" layout-align="start end">
          <h3 class="title" flex><time-range start-time="{{ startTimeLocal }}" end-time="{{ endTimeLocal }}"></time-range></h3>
          <div id="graph_speed_toggle" layout="row">
            <md-icon class="mdi mdi-terrain" ng-class="{'md-accent': !displaySpeed}" ng-click="setDisplaySpeed(false)"><md-tooltip>Elevation</md-tooltip></md-icon>
            <md-switch ng-model="displaySpeed" aria-label="Switch between elevation profile and speed profile"></md-switch>
            <md-icon class="mdi mdi-speedometer" ng-class="{'md-accent': displaySpeed}" ng-click="setDisplaySpeed(true)"><md-tooltip>Speed</md-tooltip></md-icon>
          </div>
        </div>
        <div class="col-md-12 height-100" id="graph-container" ng-controller="GraphCtrl" flex layout="row">
          <canvas id="graph_canvas"></canvas>
          <svg id="graph"></svg>
          <div id="graph_hovermarker" ng-style="{top:tooltip.top,left:tooltip.left}" ng-show="tooltip.show">
            <div class="graph-tooltip" ng-bind-html="tooltip.content"></div>
          </div>
        </div>
      </div>
      <div id="statistics-container" ng-controller="StatisticsCtrl">
        <dl ng-class="{disabled: redrawing}">
          <dt><md-icon class="mdi mdi-timer"><md-tooltip>Elapsed time</md-tooltip></md-icon></dt>
            <dd>{{ time_hours }}<smsp></smsp>h<span ng-show="time_minutes">&nbsp;<smsp></smsp><smsp></smsp>{{ time_minutes }}<smsp></smsp>m</span></dd>
          <dt><md-icon class="mdi mdi-keyboard-tab"><md-tooltip>Distance</md-tooltip></md-icon></dt>
            <dd>{{ distance | number:2 }}<smsp></smsp>km</dd>
          <dt><md-icon class="mdi mdi-elevation-rise"><md-tooltip>Elevation gain</md-tooltip></md-icon></dt>
            <dd>{{ elevation_gain | number:0 }}<smsp></smsp>m</dd>
          <dt><md-icon class="mdi mdi-elevation-decline"><md-tooltip>Elevation loss</md-tooltip></md-icon></dt>
            <dd>{{ elevation_loss | number:0 }}<smsp></smsp>m</dd>
          <dt><md-icon class="mdi mdi-skip-next rotate-left"><md-tooltip>Highest point</md-tooltip></md-icon></dt>
            <dd>{{ elevation_max | number:0 }}<smsp></smsp>m</dd>
          <dt><md-icon class="mdi mdi-skip-next rotate-right"><md-tooltip>Lowest point</md-tooltip></md-icon></dt>
            <dd>{{ elevation_min | number:0 }}<smsp></smsp>m</dd>
        </dl>
      </div>
    </md-toolbar>
  </div>
</div>

<script src="/assets/jquery/2.1.4/jquery.js"></script>
<script src="/assets/angularjs/1.3.15/angular.js"></script>
<script src="/assets/angularjs/1.3.15/angular-animate.js"></script>
<script src="/assets/angularjs/1.3.15/angular-aria.js"></script>
<script src="/assets/angularjs/1.3.15/angular-sanitize.js"></script>
<script src="/assets/ng-file-upload/5.0.9/ng-file-upload-shim.js"></script>
<script src="/assets/ng-file-upload/5.0.9/ng-file-upload.js"></script>
<script src="/assets/angular-material/0.10.0/angular-material.js"></script>
<script src="/assets/d3/3.5.6/d3.js"></script>
<script src="/assets/leaflet/0.7.3/leaflet.js"></script>
<script src="/assets/sockjs-client/0.3.4/dist/sockjs.js"></script>
<script src="/assets/vertx3-eventbus-client/3.4.2/vertx-eventbus.js"></script>
<script src="/assets/xdate/0.8.1/src/xdate.js"></script>

<script src="bottombar.js"></script>
<script src="eventbus.js"></script>
<script src="graph.js"></script>
<script src="importDialog.js"></script>
<script src="main.js"></script>
<script src="map.js"></script>
<script src="selectionservice.js"></script>
<script src="stateservice.js"></script>
<script src="statistics.js"></script>
<script src="timerange.js"></script>
<script src="trackservice.js"></script>

</body>
</html>
