body {
  overflow: hidden;
}

button::-moz-focus-inner {
  outline: none;
  border: none;
}

smsp {
  display: inline-block;
  width: 2px;
}

.md-button.md-fab md-icon {
  color: #666;
}

.track-import-button {
  padding: 0;
}

.track-import-button label {
  display: inline-block;
  padding: 0 6px;
  cursor: pointer;
}

#track_file_select {
  display: none;
}

.md-huge {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.mdi {
  font-size: 24px;
  padding-top: 1px;
}

.rotate-left {
  transform: rotate(-90deg);
}

.rotate-right {
  transform: rotate(90deg);
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#expand-bottombar-button {
  min-width: 56px;
}

#bottom-bar-container {
  position: relative;
  bottom: -300px;
}

#bottom-bar-container, #bottom-bar-container .md-padding, #bottom-bar-container .md-button {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

#bottom-bar-container.bottom-bar-visible {
  bottom: 0px;
}

#bottom-bar-container .md-padding.bottom-bar-visible {
  padding-bottom: 0;
}

#bottom-bar-container .md-button.bottom-bar-visible {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#bottom-bar-container text {
  fill: rgba(0,0,0,0.54);
  font-size: 12px;
}

#bottom-bar-container .axis path, #bottom-bar-container .axis line {
  fill: none;
  stroke-width: 1px;
  stroke: rgba(0,0,0,0.12);
  shape-rendering: crispEdges;
}

#bottom-bar-container .overlay {
  stroke-width: 0px;
  fill-opacity: 0;
}

#bottom-bar {
  background-color: rgb(250,250,250);
  color: rgba(0,0,0,0.54);
}

#bottom-bar md-icon {
  color: rgba(0,0,0,0.54);
}

#bottom-bar md-icon.md-accent {
  color: rgb(255,64,129);
}

#bottom-bar .title {
  margin: 0;
  padding-left: 50px;
  padding-top: 15px;
  font-weight: 400;
}

#graph-container {
  position: relative;
}

#graph, #graph_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#graph_canvas {
  border-right: 1px solid rgba(0,0,0,0.12);
  z-index: 1;
  pointer-events: none;
}

#graph_hovermarker {
  display: block;
  position: absolute;
  height: 1px;
  width: 1px;
  pointer-events: none;
}

.graph-tooltip {
  border-radius: 4px;
  font-weight: 500;
  font-size: 10px;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  pointer-events: none;
  line-height: 12px;
  height: 32px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  transform: translate(-50%,-140%) scale(1);
  background-color: rgba(0,0,0,0.54);
  color: #fff;
  text-align: center;
}

#graph_speed_toggle md-switch {
  margin: 0 0 0 10px;
}

#graph_speed_toggle md-switch.md-checked .md-thumb {
  background-color: rgb(250,250,250);
}

#graph_speed_toggle md-switch.md-checked .md-bar {
  background-color: rgb(158,158,158);
}

#graph_speed_toggle md-icon {
  cursor: default;
  border: none;
  outline: none;
}

#statistics-container {
  width: 300px;
  padding: 0 15px 0 15px;
  font-size: 15px;
  border-left: 1px solid rgba(0,0,0,0.12);
  margin-left: 15px;
}

#statistics-container dt, #statistics-container dd {
  display: inline-block;
}

#statistics-container dt {
  width: 30px;
  float: left;
  line-height: 30px;
}

#statistics-container dd {
  margin: 0 0 5px 0;
  line-height: 33px;
  float: left;
  width: 100px;
}

#statistics-container dl.disabled, #statistics-container dl.disabled .mdi {
  color: rgba(0,0,0,0.38);
}
